body {
	background: linear-gradient(-45deg, #f7c547, #e73c50, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#background {
	height: 100vh;
	background: url('../../images/cuttlefish-image.png');
	background-repeat: no-repeat;
	background-position: center;
}


@media only screen and (max-width: 500px) {
    #cuttlefishImg {
        width: 70%;
    }
}
