.box {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 100;
    border: solid black 2px;
    /* padding: 20px;  */
    width: 300px;
    resize: both;
    overflow: auto;
}

.topBar {
    background-color: red;
}

/* .style {
    display: "flex";
    align-items: "center";
    justify-content: "center";
    border: "solid 1px #ddd";
    background: "#f0f0f0";
} */